{{properties.name}}, der Ausflugstipp des Tages. Nutze die freie Weltkarte #OpenStreetMap z.B. zum #Wandern und ergänze sie. Noch Fragen? Kontakt @SwissOSM https://castle-map.infs.ch/#{{geometry.coordinates.1}},{{geometry.coordinates.0}},12z,{{properties.osm_id}} #OSMTrekkingTips